*{
    margin:0;
    padding:0
}
html,body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 수평 스크롤 막기 */
}
a{
    text-decoration:none;
    color:#000000;
}
ul,li{
    list-style:none;
}
img{
    width:100%;
    border:0;
}
body{
    background-color: #eaeaf0;
    padding-top: 90px;
}

