@import "/css/common/reset.css";

.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.sections-con {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section1-con {
    width: 100%;
    text-align: center;
    position: relative;
}

.section1 {
    width: 100%;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    width: 100%;
    text-align: center;
}
.mySlides {
    display: none;
    width: 100%;
    height: auto;
}
/* ... 다른 스타일들 ... */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    cursor: pointer;
    padding: 2px 0;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}



