html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}
.form-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}
h1 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
p {
    color: #555;
    font-size: 16px;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    background-color: #f9f9f9;
    width: 100%;
}